.div{
    background-color: #01592426;
    float: left;
    padding: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accept,.reject{
    float: right;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    margin: 0px 10px;
    
}
.accept{
    background-color: rgb(16, 218, 96);
    box-shadow: inset 2px 2px 5px rgb(3, 146, 51)  ,inset -2px -2px 5px rgb(7, 172, 43);
}
.reject{
    background-color: red;
    box-shadow: inset 2px 2px 5px rgb(146, 3, 3)  ,inset -2px -2px 5px rgb(172, 7, 7);
}
.details{
    box-shadow: 1px 1px 8px rgb(184, 184, 184), -1px -1px 8px rgb(184, 184, 184);
    background-color: #ddf1ea;
}

@media (min-width:0px) {
    .details{
        margin: 15px 0px;
    }
    
    
}
@media (min-width:768px) {
    .details{
        margin: 2px 0px !important;
    }
    
}