
.dash{
    display: flex;
    height: 100vh;
    align-items: center;
    /* align-content: center;
    justify-content: center; */
    text-align: center;
}

.profileCircle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(233, 239, 236);
    box-shadow: 2px 2px 5px rgb(159, 157, 157) ,inset 2px 2px 5px rgb(155, 153, 153);
}
.boxes,.boxesrow{
    display: flex;
    justify-content: center;
}
.sidebar{
    background-color: #03925d;
    color: white !important;
    
}
a{
    color: white;
}
.offcanvas-title{
    color: white;
}   
.boxes {
    padding: 10px;
    background-color: #05c07b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px rgb(211, 204, 204) ,inset 2px 2px 5px rgb(211, 204, 204); */
}
/* .opt .boxes .col{
    color: white;
} */

.btn{
    border: none;
    border-radius: 5px;
   
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.5) ,inset 1px 1px 5px rgb(0, 0, 0,0.5);
}
.box{
    height: 100vh;
}
h1{
    text-align: left;
}
.req{
   
    border-radius: 50%;
    font-weight:bolder;
    padding: 10px;
    box-shadow: 1px 1px 15px rgb(91, 91, 91);
}
.req b{
    color:rgb(0, 163, 62);
}
.menu{
    height: 100vh;
    background-color: #03925d;
}

@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

@media (min-width:320px) and (max-width:540px) {
    .sidebar{
        line-height: 40px;
        height: 100vh;
        width: 150px !important;
        
    }
    .dash{
        font-size: medium;
    }
    /* .btn{
        width: 60%;
    } */
    .boxes{
        width: 250px;
    }
    .circle{
        width: 140px !important;
        height:140px !important;
    }
    .menu{
        padding-top: 5px;
        text-align: left;
        height: 50px
    }
    .menu .btn{
        width: 70px;
    }
    .req{
        width: 80px;
        height: 70px;
        margin: 30px;
    }
}
@media (min-width:541px) and (max-width:920px){
    .sidebar{
        line-height: 40px;
        height: 100vh;
        width: 160px !important;
        
    }
    .dash{
        font-size: large;
    }
    .boxes{
        width: 160px;
        margin: 5px !important;
    }
    .menu .btn{
        width: 55px;
        font-size: medium;
        margin-left: -10px;
    }
    .bottom{
    position: relative;
    left: -40px;
    }
    .req{
        width: 80px;
        height: 70px;
        margin-top: 30px;
        margin-left: 70px;
    }
    
}
@media (min-width:921px) and (max-width:1300px){
    .sidebar{
        line-height: 55px;
        height: 100vh;
        width: 210px !important;
       
    }
    .dash{
        font-size: x-large;
    }
    .boxes{
        width: 260px;
        margin: 10px !important;
    }
    .bottom{
        position: relative;
        left: -40px;
    }
    .req{
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-left: 70px;
    }
} 
@media (min-width:1301px){
    .sidebar{
        line-height: 90px;
        height: 100vh;
        width: 250px !important;
       
    }
    .dash{
        font-size: 30px;
    }
    .boxes{
        width: 250px;
        margin: 20px !important;
    }
    .bottom{
        position: relative;
        left: -40px;
    }
    .req{
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-left: 70px;
    }
} 

/* .sidebar{
    background-color: aqua;
    border-radius: 50px;
    height: 85vh;
}
.sidebar .row{
    display: flex;
    justify-content: center;
}
.dash{
    display: flex;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.profileCircle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(159, 157, 157) ,inset 2px 2px 5px rgb(155, 153, 153);
}*/